.forum-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10%;
    padding: 2rem;
    /* background-image: url(../images/26669.jpg); */
    background-size: 50%;
}
.sub-header{
    display: flex;
    background-image:linear-gradient(0deg, var(--pink), var(--reddish-pink));
    width: 100%;
}

#forum-h{
    position: relative;
    height: 100%;
    /* background-color: aliceblue; */

}

#forum-h a{
    display: none;
    color: white;
    align-items: center;
}

.forum-menu{
    background-color: white;
    width: 100%;
    height: 100%;
}

.followed-h{
    height: 100%;
}

.topic-container{
    padding: 1rem;
    padding-bottom: 5vh;
}

#forum{
    width: 100%;
    padding-left: 1rem;
}

.extra-forum p{
    padding: 0.5rem;
    color: blue;
}

.topic{
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.author{
    padding: 0.1rem 0;
}

.desc{
    text-align: justify;
    margin-bottom: 1rem;
}

.title{
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.follow-container{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.212) 1px solid;
}

.follow-container img{
    width: 4rem;
}

.follow-content h4{
    margin-bottom: 4px;
}

.time{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 725px){
    .header-menu{
        justify-content: space-between;
    }
    .forum-container{
        grid-template-columns: 1fr;
    }
    #forum-h a{
        display: flex;
    }
}