.extra-info{
    max-width: 90%;
    text-align: center;
}

.form-container{
    padding: 10%;
    padding-top: 5rem;
    background-image: url(../images/26669.jpg);
    background-size: 50%;
    animation: moving-background 60s linear infinite;
}

.form{
    padding: 1rem;
    background-color: rgb(255, 240, 240);
}

@keyframes moving-background{
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position-x: 100%;
    }
}

.question{
    margin-bottom: 1rem;
    font-size: 20px;
    position: relative;
}

.question>label{
    display: block;
}

.question>*:not(label){
    margin-top: 1rem;
    background-color: rgb(255, 240, 240);
    font-size: 20px;
    width: 100%;
    padding-top: 1rem;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.question>*:not(label):focus{
    outline: none;
}

.question::after{
    content: "";
    display: block;
    height: 10px;
    margin: 0 auto;
    background: black;
    width: 0;
    transition: width 0.4s ease-in-out;
}

.question:focus::after{
    width: 100%;
}

.btn-container{
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.result{
    position: relative;
}

.result label{
    color: var(--sky-blue);
    font-size: 1rem;
    padding: 20px;
    display: block;
}

.result meter{
    color: rgb(0,255,0);
    width: 200px;
}
.meter-container{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    z-index: 2;
}

.card{
    position: relative;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meter{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

#sleep-m .meter{
    background-color: var(--sleep-meter);
}

#fit-m .meter{
    background-color: var(--fit-meter);
}

#nutrition-m .meter{
    background-color: var(--nutrition-meter);
}

#overall-m .meter{
    background-color: red;
}

.meter::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255);
}

.value{
    color: black;
    font-size: 2rem;
    z-index: 1;
}

@media screen and (max-width: 450px){
    .meter-container{
        display: flex;
        flex-direction: column;
    }
}