p {
    text-align: justify;
}

.card{
    margin: 20px 0;
    padding: 40px;
    width: 30%;
    height: 500px;
    border: rgb(161, 161, 161) solid 2px;
    border-radius: 5px;
    text-align: justify;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

.card>*, .card>ol>li{
    margin-bottom: 1rem;
}

.extra-info{
    max-width: 90%;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 10vw;
    width: 100%;
    padding-top: 30px;

}

.content{
    background-image: url(../images/19742.jpg);
    background-size: 3000px;
    animation: moving-background 60s ease-in-out infinite;
}

@keyframes moving-background{
    0%{
        background-position-x: 0%;
        background-position-y: 0%;
    }

    50%{
        background-position-x: 50%;
        background-position-y: 50%;
    }

    100%{
        background-position-x: 0%;
        background-position-y: 0%;
    }
}

.logo {
    color: rgb(255, 255, 255);
}

.text-container{
    margin-top: 25px;
    width: clamp(375px, 100%, 80vw);
    font-size: 20px;
}

.text-container-left{
    margin-top: 25px;
    width: clamp(375px, 100%, 60%);
    font-size: 20px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 2rem;
}

.img-wrapper{
    width: 100%;
    height: 500px;
    
}

.img-container {
	display:flex;
	justify-content: center;
    
}
.img-container img {
    top: 0px;
    height: auto;
    width: 100%;
    min-width: 800px;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

@media screen and (max-width: 1000px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: clamp(375px, 100%, 80%);
        border: 0;
    }
}

