:root{
    --light-green: rgb(86, 202, 111);
    --yellowish-green: rgb(169, 255, 58);
    --pastel-blue: rgb(149, 255, 255);
    --sky-blue: rgb(153, 204, 255);
    --sleep-meter: rgb(163, 255, 255);
    --fit-meter: rgb(184, 131, 233);
    --nutrition-meter: rgb(241, 210, 164);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 600px;
}

.site-header{

    height: 70px;
    /* background-color:rgb(86, 202, 111); */
    background-image: linear-gradient(180deg, var(--light-green), var(--yellowish-green));
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}

h1.logo{
    padding: 0 2rem 0 1rem;
}

.header-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 0 0 0.5vh;
    height: 100%;
}

.extra-info{
    max-width: 90%;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.logo {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item, .nav-item>a{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 2rem;
    color: white;
}

.dropdown-menu{
    background-image: linear-gradient(180deg, var(--yellowish-green), var(--light-green));
}

.menu-item{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.menu-item>a{
    color: white;
    font-size: 20px;
}

.gray-bg{
    background-color: rgb(226,222,221);
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.hamburger{
    display: none;
    padding: 10px;
    padding-right: 2rem;
}

.forum-container{
    padding: 10%;
    padding-top: 5rem;
    background-image: url(../images/26669.jpg);
    background-size: 50%;
}

@media screen and (max-width: 725px){
    .nav-item{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .header-menu{
        justify-content: space-between;
    }
}